{extend name="/layouts/base" /}

{block name="title"}友链分组 - {$CONFIG->SITE->title}{/block}

{block name="content"}
<div id="manage-links-sort" class="container-xxl">
    
    <div class="row mt-md-4 mt-2">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    
                    <div class="dropdown float-end">
                        <a href="javascript:;" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a v-on:click="initData('','',true)" href="javascript:;" class="dropdown-item">
                                <i class="mdi mdi-autorenew me-1"></i>刷新
                            </a>
                        </div>
                    </div>
                    
                    <h4 class="header-title">全部分类</h4>
                    <p class="text-muted font-14 mb-4">
                        目前只有一级分类，后面会增加二级分类
                    </p>
                    
                    <!-- 加载动画 开始 -->
                    <div v-if="is_load" class="table-responsive is_load mb-2 flex-center">
                        <div class="spinner-border text-primary m-1" role="status"></div>
                        <div>加载中...</div>
                    </div>
                    <!-- 加载动画 结束 -->
                    
                    <div v-else-if="!is_load" class="table-responsive-sm">
                        <table class="table custom table-centered mb-0">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>描述</th>
                                <th>数量</th>
                                <th>显示</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr v-for="data in links_sort.sort.data" :key="data.id">
                                    <td>
                                        <span v-on:click="initData(data.id)" :class="'cursor badge bg-' + data.expand.color" data-toggle="tooltip" data-original-title="'缩略名：' + data.slug" >
                                            {{data.name}}
                                        </span>
                                    </td>
                                    <td>{{data.description}}</td>
                                    <td><span class="badge bg-primary" data-toggle="tooltip" data-original-title="友链数量">{{data.expand.count}}</span></td>
                                    <td>
                                        <div>
                                            <input v-on:click="isShow(data.id)" :id="'switch-' + data.id" v-model="is_show" :value="data.id" type="checkbox" data-switch="success"/>
                                            <label :for="'switch-' + data.id" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <button v-on:click="initData(data.id)" data-bs-toggle="modal" data-bs-target="#fill-edit-modal" type="button" class="btn btn-light btn-sm mr-1">
                                            <i class="mdi mdi-square-edit-outline"></i>
                                        </button>
                                        <button v-on:click="btnDelete(data.id)" type="button" class="btn btn-light btn-sm">
                                            <i class="mdi mdi-delete-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="flex space-between align-items-center mt-2">
                        <div class="d-none d-md-block">
                            共 {{links_sort.sort.page}} 页 {{links_sort.sort.count}} 条数据
                        </div>
                        <div v-if="!page_is_load && is_page_show" class="btn-group">
                            <button v-on:click="initData('',1)" type="button" class="btn btn-light btn-sm"><i class="mdi mdi-chevron-left"></i></button>
                            <button v-for="(item, index) in page_list" :key="index" v-on:click="initData('',item)" :class="(page == item) ? 'btn btn-sm btn-primary' : 'btn btn-sm btn-light'">
                                {{item}}
                            </button>
                            <button v-on:click="initData('',links_sort.sort.page)" type="button" class="btn btn-light btn-sm"><i class="mdi mdi-chevron-right"></i></button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">{{title}}</h4>
                    <div class="tab-content mb-0 b-0">
                        <div class="tab-pane fade active show">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row mb-3">
                                        <label class="col-md-3 col-form-label">名称</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" v-model="edit.name" onkeyup>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-md-3 col-form-label">描述</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" placeholder="这是一个默认的分类描述" v-model="edit.description" onkeyup>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="float-left">
                            
                        </div>
                        <div class="float-right">
                            <input type="button" class="btn btn-info button-next" v-on:click="btnSave(edit.id)" value="保存" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<script src="{$CONFIG->ROOT}js/pages/manage-links-sort.js?v={$CONFIG->VERSION}"></script>
{/block}