<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <span class="item left bg-dark font-13">© {:date("Y")} Copyright</span>
                <span class="item right bg-info font-13">inis - <a href="//inis.cc" target="_blank">inis.cc</a></span>
            </div>
            <div class="col-md-6">
                <div class="text-md-end footer-links d-none d-md-block">
                    <span class="item left bg-dark font-13"><a href="//inis.cc" target="_blank">inis</a></span>
                    <span class="item right bg-warning font-13"><a href="javascript:;">version {$CONFIG->VERSION}</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>