@import "./media.css";

html::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    background-color: transparent;
}
html::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,.2);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
}
html::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
}

.border-radius-unset{border-radius: unset;}
.domain-textarea{border:none;resize:none;overflow-x:hidden;overflow-y:auto;overflow-wrap:break-word;outline:none;scrollbar-width: thin;scrollbar-color: rgba(0,0,0,.2) transparent;}
.domain-textarea::-webkit-scrollbar{width:4px;height:10px;background-color:rgba(110, 110, 110, 0)}
.domain-textarea::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,.2);transition:all .4s ease;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-o-transition:all .4s ease}
.domain-textarea::-webkit-scrollbar-track{background-color:rgba(0,0,0,.1)}

.note-editor.note-frame.card .modal-body::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
}
.note-editor.note-frame.card .modal-body::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: rgba(0,0,0,.2);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.note-editor.note-frame.card .modal-body::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,.1);
}

pre.vditor-reset::-webkit-scrollbar,#example-textarea::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    background-color: transparent;
}
pre.vditor-reset::-webkit-scrollbar-thumb,#example-textarea::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--primary);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
}
pre.vditor-reset::-webkit-scrollbar-track,#example-textarea::-webkit-scrollbar-track {
    background-color: rgb(250 251 254);
}

.treegrid-indent {
	width:16px;
	height:16px;
	display:inline-block;
	position:relative
}
.treegrid-expander {
	width:16px;
	height:16px;
	display:inline-block;
	position:relative;
	cursor:pointer
}
.treegrid-expander-expanded {
	background-image:url(../svg/down.svg);
	background-size: 100% 100%;
}
.treegrid-expander-collapsed {
	background-image:url('../svg/right.svg');
	background-size: 70% 70%;
    background-repeat: no-repeat;
}
#table > tbody tr td:nth-child(2) {
    display: flex;
    align-items: center;
}
#fill-add-rule-modal a.active .text-white{
    color: var(--blue)!important;
}

.inis-save button, .inis-save a{
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn-outline-success:hover path, .btn-outline-info:hover path, .btn-outline-danger:hover path {
    fill: white;
}
.text-overflow{
    max-width: 15vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.conf-switch{
    display: inline-flex;
    align-items: center;
}
.conf-switch label{
    margin-bottom: unset!important;
}
.is_load {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.is-load-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.is_load .spinner-border, .is-load-flex .spinner-border{
    width: 1.2em;
    height: 1.2em;
}
.inis-center{
    display: flex;
    justify-content: center;
}
.pointer:hover{
    cursor: pointer;
}
.cursor:hover{
    cursor: pointer;
}
img.rounded-circle.img-thumbnail {
    width: 100px;
    height: 100px;
}
.jq-icon-info .close-jq-toast-single{
    color: #000;
}

.white-space{white-space: pre-line;}

/* 评论框滚动条美化 */
.comments-textarea{border:none;resize:none;overflow-x:hidden;overflow-y:auto;overflow-wrap:break-word;outline:none;scrollbar-width: thin;scrollbar-color: rgba(0,0,0,.2) transparent;padding: unset;}
.comments-textarea::-webkit-scrollbar{width:4px;height:10px;background-color:rgba(110, 110, 110, 0)}
.comments-textarea::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,.2);transition:all .4s ease;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-o-transition:all .4s ease}
.comments-textarea::-webkit-scrollbar-track{background-color:rgba(0,0,0,.1)}
.comments-input{border:none;resize:none;overflow-x:hidden;overflow-y:auto;overflow-wrap:break-word;outline:none;scrollbar-width:thin;scrollbar-color:rgba(0,0,0,.2) transparent;}

.slimScrollBar{width:4px!important}

/* 上传 - 开始 */
.flex{
    display: flex;
}
.upload{
    position: fixed;
    width: 450px;
    right: 3%;
    bottom: 10%;
    box-shadow: 0px 1px 4px rgb(28 28 32 / 4%), 0px 8px 24px rgb(28 28 32 / 12%);
}
.upload-svg svg{
    width: 2em;
    height: 2em;
}
.svg-primary{
    fill: var(--primary);
}
.svg-ico{
    display: flex;
    cursor: pointer;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    margin-left: 22px;
    background-color: rgba(132 133 141 / 8%);
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.upload .svg-ico:hover{
    background-color: rgba(132 133 141 / 16%);
}
.upload .slimscroll{
    overflow: auto!important;
}
.upload .slimscroll::-webkit-scrollbar {
    width: 4px;
    height: 10px;
    background-color: transparent;
}
.upload .slimScrollBar{
    background:unset!important;
}
.upload .slimscroll::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,.2);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.upload .slimscroll::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.1);
}
.upload .card-header{
    -webkit-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.upload .card-header:hover{
    background-color: rgba(132 133 141 / 8%);
}
/* 上传 - 结束 */
.file{
    padding: 10px;
    overflow: hidden;
}
.file:hover{
    background: #f0f9f7!important;
}
.file:active {
    background: #f0f9f7!important;
    border: 1px solid #ddefeb;
    box-sizing: border-box;
}
#mouse-menu{
    padding: 0;
	display: none;
	position: absolute;
	background: white;
	list-style: none;
	border-radius: 10px;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#mouse-menu li{
	width: 100%;
    font-size: 1.1em;
    line-height: 40px;
    padding: 0 20px;
}
#mouse-menu li:hover{
    border-radius: 10px;
	background: rgba(132 133 141 / 8%);
	cursor: pointer;
}
#fill-primary-modal .modal-body.text-center {
    padding: 1em 3em;
}
#view-details-modal .modal-body .card{
    background:unset;
    box-shadow:unset;
    -webkit-box-shadow:unset;
}
#view-details-modal .modal-body .card img{height: 100px}
#view-details-modal .modal-body .row:first-child{justify-content:center}

.uploads-preview > .progress-w-percent .progress {
    width: 100%!important;
}
.uploads-preview .progress-sm {
    height: 3px!important;
}

#files .sign {
    background: #72d1f554;
}

.users-upload-head{
    min-height: 0;
    margin-bottom: 0;
}
.users-upload-head .progress-sm{
    width:100%;
    height: 3px;
    margin-top:0;
}
.users-upload-head .progress-bar{
    background-color: var(--dark);
}
.fill-bg{width: 30px;height: 20px;display: block;}
.flex-center{display:flex;justify-content:center;align-items:center}
.dropdown-item.flex-center{justify-content:unset;}

#manage-banner table{table-layout: fixed;}
.limit{overflow:hidden;width:200px;white-space:nowrap;text-overflow:ellipsis;}
.font-1-3em{font-size:1.3em}
.border-bottom{border-bottom: 1px solid #dee2e6;}
.font-20px{font-size:20px!important}
.pre-line{display: inline-flex;white-space: pre-line;}
#login .flex-center .spinner-border{width:1.2em;height:1.2em;}

#lottie-beil{width:30px;height:30px}
#lottie-beil svg path{stroke:#50b5ff}
.notification-list.lottie{height: 70px;display: flex;align-items: center;}

.footer .item{color: #fff;display: inline-block;padding-top: 2px;padding: 2px 4px 2px 6px;padding-bottom: 2px;padding-right: 4px;padding-left: 6px;}
.footer .left{border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.footer .right{border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.footer .item a{color: white;}
.footer .item a:hover{color: black;}
#install .nav-tabs.nav-bordered, #install .nav-tabs.nav-bordered li a.active, .customize-progress .nav-tabs.nav-bordered, .customize-progress .nav-tabs.nav-bordered li a.active{
    border-bottom:unset!important;
}
.customize-table {
    width: 100%;
    overflow: auto;
    display: table;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    word-break: normal;
    word-wrap: normal;
    margin-bottom: 1px;
    background-color: transparent;
    -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}
.customize-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3eaef;
}
.customize-table thead tr {
    background-color: rgba(248,248,248,0.9)!important;
}
.customize-table tr, .customize-table td, .customize-table th {
    border: none!important;
    padding: 8px 13px;
}
.customize-table tbody tr {
    background-color: rgba(255,255,255,0.9)!important;
}
.customize-table tr:nth-child(2n) {
    background-color: rgba(248,248,248,0.9)!important;
}
.customize-scroll{
    overflow-y: scroll;
    border:none;
    resize:none;
    overflow-x:hidden;
    overflow-y:auto;
    overflow-wrap:break-word;
    outline:none;
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,.2) transparent;
}
.customize-scroll::-webkit-scrollbar{width:4px;height:10px;background-color:rgba(110, 110, 110, 0)}
.customize-scroll::-webkit-scrollbar-thumb{border-radius:6px;background-color:rgba(0,0,0,.2);transition:all .4s ease;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;-o-transition:all .4s ease}
.customize-scroll::-webkit-scrollbar-track{background-color:rgba(0,0,0,.1)}

.dots{height:5px;width:5px;font-size:0;text-align:center;padding:0;position:absolute;top:20px;right:10px;animation:shadow-pulse-dots 1s infinite;border-radius:50%;-webkit-border-radius:50%}
.count-mail{height:5px;width:5px;font-size:10px;text-align:center;line-height:15px;padding:0;position:absolute;top:25px;right:10px;animation:shadow-pulse 1s infinite;border-radius:50%}
@keyframes shadow-pulse-dots{
    0%{box-shadow:0 0 0 0px rgba(230,65,65,0.2)}
    100%{box-shadow:0 0 0 15px rgba(230,65,65,0)}
}
@keyframes shadow-pulse{
    0%{box-shadow:0 0 0 0px rgba(0,132,255,0.2)}
    100%{box-shadow:0 0 0 15px rgba(0,132,255,0)}
}


/*放大动画*/
.enlarge{
    animation:enlarge 0.2s infinite;
    -webkit-animation:enlarge 0.2s infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation:enlarge 0.2s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
}
@keyframes enlarge {
    0%  { transform:scale(0.4);opacity: 0.2; }
    25% { transform:scale(0.6);opacity: 0.4; }
    50% { transform:scale(0.8);opacity: 0.8; }
    75% { transform:scale(1);opacity: 1; }
}
@-webkit-keyframes enlarge {
    0%  { transform:scale(0.4);opacity: 0.2; }
    25% { transform:scale(0.6);opacity: 0.4; }
    50% { transform:scale(0.8);opacity: 0.8; }
    75% { transform:scale(1);opacity: 1; }
}
/*缩小动画*/
.narrow{
    animation:narrow 0.2s infinite;
    -webkit-animation:narrow 0.2s infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation:narrow 0.2s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1;
}
@keyframes narrow {
    0%  { transform:scale(1);opacity: 1; }
    25% { transform:scale(0.8);opacity: 0.8; }
    50% { transform:scale(0.6);opacity: 0.4; }
    75% { transform:scale(0.4);opacity: 0.2; }
}
@-webkit-keyframes narrow {
    0%  { transform:scale(1);opacity: 1; }
    25% { transform:scale(0.8);opacity: 0.8; }
    50% { transform:scale(0.6);opacity: 0.6; }
    75% { transform:scale(0.4);opacity: 0.2; }
}

#configure #other .domain-textarea{
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}
#manage-comments .table tr td:nth-child(3){
    word-wrap: break-word;
    word-break: break-all;
}
.un-focus{
    box-shadow:unset!important;
}

.mask{width: 100%;height: 100%;background:#000;position: absolute;top: 0px;left:0px;opacity: 0.4;z-index: 8000; display: none;-moz-user-select: none; -webkit-user-select: none;}
.pop-ups{width: 70%;background:#fff; position: absolute;z-index: 9000;display: none;}
.pop-ups-head{cursor: move;}
#ace-editor{width: 100%;height:60vh;}
.ace_layer.ace_print-margin-layer{display:none}
#box-narrow{display:none}
.read-load{width: 100%;height: 100%;background:#000;position: absolute;top: 0px;left:0px;opacity: 0.4;z-index: 8000; display: none;-moz-user-select: none; -webkit-user-select: none;}
.card-body.flex-center.load{z-index:9000;}
.card-body.load .spinner-border{width:1.3em;height:1.3em;}
.pop-ups .tool ul {display:flex;list-style: none;margin: 0;padding: 0;}
.pop-ups .tool ul{
    height: 35px;
    background: #565656;
    transition: top 500ms;
}
.pop-ups .tool ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #4c4c4c;
    cursor: pointer;
}
.pop-ups .tool ul .spinner-border{
    width: 1.1em;
    height: 1.1em;
    border: .2em solid currentColor;
    display: inline-block;
    vertical-align: text-bottom;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
#filesystem .path-array{
    display:flex;
    overflow-x: auto;
    width: 100%;
}
#filesystem .path-array button{flex:unset}
.align-center{align-items: center!important;}
.border-unset{border:unset!important}
.btn-outline{
    border: unset;
    border-bottom: 1px solid rgb(255 255 255 / 70%);
    border-radius: 0;
    background-color: unset;
}
input[type=text].btn-outline:focus{
    cursor: pointer;
    border-bottom: 2px solid rgb(255 255 255 / 87%);
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    background-color: unset;
}
.btn-outline-white{
    color: #ffffff;
    border-color: #ffffff;
}
.btn-outline-white:hover {
    color: #ffffff;
    background-color: #e3eaef;
    border-color: #e3eaef;
}
#options #fill-token-modal .btn-outline-white svg{fill:white}
#options #fill-token-modal .btn-outline-white:hover > svg{fill:#313a46}





























