<!-- head - 开始 -->
<? require('public/head.html'); ?>
<!-- head - 结束 -->

</head>

<body class="authentication-bg">

<div id="register" class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    
                    <!-- Logo-->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="/">
                            <span><img src="<?= __ADMIN_IMG__.'logo-1.png'; ?>" alt="" height="30"></span>
                        </a>
                    </div>
                    
                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">注册</h4>
                            <p class="text-muted mb-4">请填写正确的信息，方便找回密码！</p>
                        </div>
                        
                        <div class="form-group">
                            <label>用户名：</label>
                            <input v-model="user.nickname" class="form-control" type="text" placeholder="仅用于显示昵称">
                        </div>
                        
                        <div class="form-group">
                            <label>密码：</label>
                            <input v-model="user.password1" class="form-control" type="password" placeholder="">
                        </div>
                        
                        <div class="form-group">
                            <label>确认密码：</label>
                            <input v-model="user.password2" class="form-control" type="password" placeholder="">
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>邮箱：</label>
                                <input v-model="user.email" class="form-control" type="email" placeholder="用于登录或找回密码">
                            </div>
                            <div class="col-md-6">
                                <label>验证码：</label>
                                <div class="input-group">
                                    <input v-model="code_data" type="text" class="form-control" placeholder="">
                                    <div class="input-group-append">
                                        <button v-on:click="code" id="code" class="btn btn-dark" type="button">{{code_title}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                <label class="custom-control-label" for="checkbox-signup">
                                    我同意
                                    <a href="jsvascript:;" class="text-muted" data-toggle="modal" data-target="#scrollable-modal">用户协议</a>
                                </label>
                                <span><a href="login.html" style="float: right">前往登录</a></span>
                            </div>
                        </div>
                        
                        <div class="form-group mb-0 text-center">
                            <button v-on:click="save" type="button" class="btn btn-block btn-primary">注册</button>
                        </div>
                        
                        <!-- 用户协议 - 开始 -->
                        <div class="modal fade" id="scrollable-modal" tabindex="-1" role="dialog" aria-labelledby="scrollableModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header modal-colored-header bg-primary">
                                        <h5 class="modal-title" id="scrollableModalTitle">用户协议</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4>用户个人信息保护</h4>
                                        1、本平台非常重视您的个人信息保护，保证在合法、正当与必要的原则下收集、使用或者公开您的个人信息且不会收集与提供和本产品服务无关的个人信息。<br>
                                        2、您在注册账号或使用本服务的过程中，为了更好地向您提供相关服务，本平台可能需要您填写或提交一些必要的基础个人信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如您提交的信息不完整或不符合法律法规的规定，则您可能无法使用本服务或在使用本服务的过程中受到限制。<br>
                                        3、本平台收集的用户个人信息包括：1）用户在注册时需自行提供的必要个人信息（如注册时填写的手机号码、性别、年龄等个人信息）；2）本平台在提供服务过程中合法收集的用户个人信息，如用户使用服务时的设备信息、账号信息、日志信息、个人基本资料、好友信息等。请注意，单独的设备信息、日志信息等是无法识别特定自然人身份的信息；3）地理位置信息：因本平台提供的服务系基于地理位置提供的移动社交服务，用户地理位置信息将作为用户公开资料之一，由本平台向其他用户公开以便本平台向用户提供基于地理位置的移动社交服务。在收集用户的地理位置信息前，本平台将单独向您发出权限开放申请，如您不愿意提供地理位置信息，可选择拒绝。您在提供地理位置信息后，也可随时通过您的设备系统设置终止向其他用户公开您的地理位置信息。<br>
                                        4、本平台承诺，本平台收集您的个人信息将仅用于以下用途：<br>
                                        （1）创建本平台账号，帮助您成为本平台注册用户；<br>
                                        （2）为您提供和展示推送本平台的商品或服务；<br>
                                        （3）为您提供安全保障；<br>
                                        （4）本平台向用户及时发送重要通知，如软件更新、本协议条款的变更；<br>
                                        （5）本平台内部进行审计、数据分析和研究等，以改进本平台的产品、服务和与用户之间的沟通；<br>
                                        （6）依本协议约定，本平台提供相关服务、管理、审查用户信息及进行处理措施；<br>
                                        （7）适用法律法规规定的其他事项。<br>
                                        除上述事项外，如未取得用户事先同意，本平台不会将用户个人信息使用于任何其他用途。如果本平台将您的个人信息用于任何未载明的其他用途，或者将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。<br>
                                        5、本平台未经用户同意不会向任何第三方共享、转让、公开披露用户个人隐私信息。但以下特定情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：<br>
                                        （1）与国家安全、国防安全有关的；<br>
                                        （2）与公共安全、公共卫生、重大公共利益有关的；<br>
                                        （3）与犯罪侦查、起诉、审判和判决执行等有关的；<br>
                                        （4）出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；<br>
                                        （5）您自行向社会公众公开的个人信息；<br>
                                        （6）从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。<br>
                                        6、本平台向用户提供账户注销功能，具体可通过APP内“我→更多设置→账户注销”的路径完成注销，也可联系本平台客服电话进行人工注销。通过账户注销功能，用户可删除其在本平台的相关个人信息或使其匿名化。<br>
                                        7、尊重个人信息的私有性是本平台的一贯制度，本平台将采取技术措施和其他必要措施，确保用户个人信息安全，防止在本服务中收集的用户个人信息泄露、毁损或丢失。在发生前述情形或者本平台发现存在发生前述情形的可能时，本平台将及时采取补救措施并告知用户，用户如发现存在前述情形亦需立即与本平台联系。<br>
                                        8、本平台重视对未成年人的保护。本平台将依赖用户提供的个人信息判断用户是否为未成年人。任何18岁以下的未成年人均不得注册账号或使用本服务。<br>
                                        9、本平台十分注重保护用户的个人信息，并单独制定了《隐私政策》，用户可在注册账号时查看，亦可通过“我”—“设置”—“关于我们”页面里的“隐私政策”来进行查看，用户确认并同意使用本平台提供的服务将被视为接受《隐私政策》。<br>
                                        
                                        <h4>免责及责任限制条款</h4>  
                                        1、本平台将尽所能地保证所提供网络服务的连续性和稳定性，但用户应理解，由于网络空间的特殊性，本平台无法百分之百保证服务不会中断，对服务的及时性、安全性、准确性也无法作出绝对的保证。如果系统发生故障、进行维护或维修或其他超出我们控制的原因，导致对本平台的访问暂时中止或错误，本平台可能无法事先通知，用户同意在此情况下对造成的任何损失（如有）免除本平台的任何责任。 <br>
                                        2、对于您通过本平台提供的服务传送的内容，本平台会尽合理努力按照国家有关规定严格审查，但无法完全控制经由网站服务传送的内容，不保证内容的正确性、完整性或品质。因此用户在使用本平台服务时，可能会接触到令人不快、不适当或令人厌恶的内容。本平台有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用网站服务的全部或部分，保存有关记录，并根据国家法律法规、相关政策在必要时向有关机关报告并配合有关机关的行动。<br>
                                        3、对于本平台提供的各种广告信息、链接、资讯等，本平台会对广告内容进行初步审核，但是本平台难以百分之百确保对方产品真实性、合法性或可靠性，对于用户经由本平台服务与广告主进行联系或商业往来，属于用户和广告主之间的行为，与本平台无关。用户应理性看待广告，如需购买或者交易，请谨慎考虑。<br>
                                        4、对于用户上传的照片、资料、证件等，本平台已采用相关措施并已尽合理努力进行审核，但无法完全保证其内容的正确性、合法性或可靠性，相关责任由上传上述内容的用户负责，本平台不承担任何责任。 <br>
                                        5、您应以自己的独立判断从事与交友相关的行为，并独立承担可能产生的不利后果和责任，本平台不承担任何法律责任。 <br>
                                        6、本平台作为交友平台，帮助用户寻找心仪伴侣是我们的服务内容，但是本平台不保证所提供的服务一定能满足您的要求和期望。您应理解，由于婚恋社交服务具有其特殊性，交友成功与否受个人主观因素影响较大，本平台仅为用户提供一个沟通交流的空间，无法确保每个用户的交友目的都能实现。<br>
                                        7、为了尽可能满足您的交友需求，本平台推出的缘分小助手、有缘红娘、收信宝等服务，全都是在用户同意并主动授权的情况下帮助授权用户寻找异性的功能性服务。本平台不能保证用户通过此类服务授权由系统自动发出或接收到的信息完全满足用户交友需求。 <br>
                                        缘分小助手，为了提高用户处理私信的能力，看到更多符合自己要求的异性来信，提供了缘分小助手服务。在用户主动授权设置缘分小助手的情况下，缘分小助手会帮助用户过滤掉信箱中异性发来的招呼类信件，此类过滤掉的私信只是设为已读，仍然存于授权用户的信箱中。过滤的同时给符合授权用户征友要求的异性发送本平台系统自动做出的信件回复。回复内容由本平台根据用户交友互动中最常用的词语拟定，并由系统随机选取后发送。 <br>
                                        有缘红娘，为了帮助女用户找到符合自己要求的异性，提供了有缘红娘服务。有缘红娘服务内容包括：优先将红娘用户推荐给优质男性用户，获得更多交流机会；有缘红娘将帮助申请有缘红娘服务的用户向符合其征友要求的异性询问交友意向；实时监控询问总数。 <br>
                                        收信宝，为了帮助男用户找到符合自己要求的异性，提供了收信宝服务。收信宝服务内容包括：优先将收信宝用户展示给女用户，通过替男用户打招呼的方式向符合男用户征友要求的女用户介绍男用户，从而增加男用户收信。<br>
                                        以上三种服务用户可以自行取消。 <br>
                                        8、本平台为了促进用户互动，产品上的组件应用或小游戏可能带有触发招呼的功能。用户在玩此功能的组件或小游戏的同时会给符合自己征友要求的异性发去问候招呼。本平台不能保证用户通过此类组件或小游戏发出或接受到的信息完全满足用户的交友需求。 <br>
                                        9、本平台对于用户在使用本平台过程中因任何第三方原因导致的任何金钱或其他损失或损害不承担任何责任（该等损失或损害包括但不限于，任何直接的、间接的、惩罚性的或必然的损失或伤害，或任何收入、利润、信誉、数据、合同、资金使用上的任何损失，无论是民事侵权行为、合同还是其他）。 <br>
                                        10、用户因任何其他第三方（包括但不限于自然人）使用本平台引起的行为，向第三方要求索赔或进行诉讼，用户同意独自进行该类索赔或诉讼，而且同意豁免本平台承担由该索赔或诉讼引起的任何相关联的所有索赔、责任和损失。 <br>
                                        11、您理解并同意本平台仅仅是为您和其他用户的交往提供平台，但对用户间的来往（无论是在网上或在现实生活中），用户须对自己的行为承担全部责任。如您与其他用户产生争议，则理解并同意本平台并没有义务监控或处理用户之间的争议。<br>
                                        
                                        <h4>用户应遵守以下法律法规： </h4>
                                        1、本平台提醒用户在使用本平台服务时，遵守《中华人民共和国合同法》、《中华人民共和国著作权法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国保守国家秘密法》、《中华人民共和国电信条例》、《中华人民共和国计算机信息系统安全保护条例》、《中华人民共和国计算机信息网络国际联网管理暂行规定》及其实施办法、《计算机信息系统国际联网保密管理规定》、《互联网信息服务管理办法》、《计算机信息网络国际联网安全保护管理办法》、《互联网电子公告服务管理规定》、《互联网用户账号名称管理规定》等相关中国法律法规的规定。 <br>
                                        2、在任何情况下，如果本平台有理由认为用户使用本平台服务过程中的任何行为，包括但不限于用户的任何言论和其它行为违反或可能违反上述法律和法规的任何规定，本平台可在任何时候不经任何事先通知终止向该用户提供服务。<br>
                                        
                                        <h4>禁止用户从事下列行为: </h4>
                                        1、发布信息或者利用本平台的服务时在本平台的网页上或者利用本平台的服务制作、复制、发布、传播以下信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视、破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；散布谣言，扰乱社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权利的；含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它有悖道德、令人反感的内容；含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的。 <br>
                                        2、使用本平台服务的过程中，以任何方式危害未成年人的利益的。 <br>
                                        3、冒充任何人或机构，包含但不限于冒充本平台工作人员、政府人员等，或以虚伪不实的方式陈述或谎称与任何人或机构有关的。 <br>
                                        4、将侵犯任何人的肖像权、名誉权、隐私权、专利权、商标权、著作权、商业秘密或其它专属权利的内容上载、张贴、发送电子邮件或以其它方式传送的。 <br>
                                        5、将病毒或其它计算机代码、档案和程序，加以上载、张贴、发送电子邮件或以其它方式传送的。 <br>
                                        6、跟踪或以其它方式骚扰其他用户的。 <br>
                                        7、未经合法授权而截获、篡改、收集、储存或删除他人个人信息、电子邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。 <br>
                                        8、以任何方式干扰本平台服务的。<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">不同意</button>
                                        <button type="button" class="btn btn-primary">我同意</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 用户协议 - 结束 -->
                        
                        <!-- 注册成功 - 开始 -->
                        <div id="fill-signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content modal-filled bg-primary">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="fill-primary-modalLabel">注册成功！</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>请妥善保管好您的账户，登录后可在个人资料中<span style="color:var(--pink)">自定义登录帐号</span>。</p>
                                        <br>
                                        <div>
                                            <p>登录帐号：{{result.email}}</p>
                                            <p>登录密码：{{result.password}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">我已了解</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 注册成功 - 结束 -->
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- 页脚组件 - 开始 -->
    <i-footer />
    <!-- 页脚组件 - 结束 -->
</div>


<script src="<?= __ADMIN_JS__.'app.min.js'; ?>"></script>
<script src="<?= __ADMIN_JS__.'vue/register.js'; ?>"></script>

</body>
</html>
