<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>重置密码</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
    <meta name="description" content="inis · 新一代博客系统！这是市面上为数不多的新一代博客系统，整站封装，全站分离，真正意义上的前后端分离。每一行代码都用心设计，用最少的代码量和最优雅架构设计，实现最完美的系统，让你拥有更极致的体验。复杂的研究留给我们，简单的体验留给用户！">
    	<meta name="keywords" content="inis, racns, inis api, 前后端分离, 萌卜兔, 兔子爱上胡萝卜">
    	<meta name="author" content="inis,racns"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="__ADMIN_IMG__/logo-2.png">

    <!-- App css -->
    {load href="__ADMIN_CSS__/icons.min.css"}
    {load href="__ADMIN_CSS__/app.min.css"}

    <!-- third party css and js -->
    {load href="__ADMIN_LIBS__/jquery-3.5.1.min.js"}
    <!-- third party css and js end -->
</head>

<body class="authentication-bg">

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="index.html">
                            <span><img src="__ADMIN_IMG__/logo-1.png" alt="" height="30"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">重置密码</h4>
                            <p class="text-muted mb-4">请输入您注册时所用的邮箱</p>
                        </div>

                        <form action="#">
                            <div class="form-group mb-3">
                                <label for="emailaddress">邮箱</label>
                                <input class="form-control" type="email" id="emailaddress" required="" placeholder="">
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit">确定</button>
                            </div>
                        </form>
                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">前往<a href="login.html" class="text-muted ml-1"><b>登录</b></a></p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2018 - 2019 © Hyper - Coderthemes.com
</footer>

<!-- App js -->
{load href="__ADMIN_JS__/app.min.js"}
</body>
</html>
