<!-- head - 开始 -->
<? require(dirname(dirname(__FILE__)).'/public/head.html'); ?>

<!-- 编辑器 -->
<link rel="stylesheet" href="<?= __ADMIN_LIBS__.'vditor/css/vditor.css'; ?>" />
<script src="<?= __ADMIN_LIBS__.'vditor/js/vditor.min.js'; ?>"></script>
<!-- head - 结束 -->

</head>
<? require(dirname(dirname(__FILE__)).'/public/body.html'); ?>
    <div class="wrapper" id="write-article">
        
        <!-- 侧边栏 - 开始 -->
        <i-left-side></i-left-side>
        <!-- 侧边栏 - 结束 -->
        
        <div class="content-page">
            <div class="content">
                <!-- 顶部导航 - 开始 -->
                <i-top-nav></i-top-nav>
                <!-- 顶部导航 - 结束 -->
                
                <!-- 内容 - 开始 -->
                <div class="container-fluid">
                    
                    <!-- 页面标题 开始 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-light" id="dash-daterange">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-primary border-primary text-white">
                                                        <i class="mdi mdi-calendar-range font-13"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <a v-on:click="initData(id, true)" href="javascript:;" class="btn btn-primary ml-2">
                                            <i class="mdi mdi-autorenew"></i>
                                        </a>
                                    </form>
                                </div>
                                <h4 class="page-title">撰写文章</h4>
                            </div>
                        </div>
                    </div>
                    <!-- 页面标题 结束 -->
            
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                
                                <div class="card-body">
                                    <div class="form-group">
                                        <h4 class="header-title">文章标题</h4>
                                        <input v-model="edit.title" type="text" class="form-control" maxlength="64" data-toggle="maxlength" data-threshold="10" placeholder="标题">
                                    </div>
                                    
                                    <!-- 编辑器 -->
                                    <div id="vditor"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-body">

                                    <ul class="nav nav-tabs nav-bordered mb-3">
                                        <li class="nav-item">
                                            <a href="#basic" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                <span>基本选项</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#high" data-toggle="tab" aria-expanded="true" class="nav-link">
                                                <span>高级选项</span>
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="basic">
                                            
                                            <div class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">选择分类</p>
                                                <select class="select2 form-control select2-multiple" id="sort-select2" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">选择标签</p>
                                                <select class="select2 form-control select2-multiple" id="tag-select2" data-toggle="select2" multiple="multiple" data-placeholder="Choose ...">
                                                </select>
                                            </div>
                                            <div class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">封面地址</p>
                                                <div class="input-group">
                                                    <input v-model="edit.img_src" type="text" class="form-control" placeholder="填写或上传封面">
                                                    <div class="input-group-append">
                                                        <input v-show="false" v-on:change="upload($event)" type="file" id="input-file" />
                                                        <button v-on:click="clickUpload" class="btn btn-dark" type="button">上传</button>
                                                    </div>
                                                </div>
                                                <div v-if="speed != 1 && speed != 0" class="progress-w-percent users-upload-head">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar" role="progressbar" :style="'width: '+ speed * 100 +'%'" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">文章摘要</p>
                                                <div class="card">
                                                    <textarea class="form-control domain-textarea" rows="5" v-model="edit.description" placeholder="推荐手动填写摘要（如果不填，系统会自动摘要）"></textarea>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="tab-pane" id="high">
                                            <!--公开、私密、登录可见、密码保护-->
                                            <div class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">文章权限</p>
                                                <select id="article-auth" class="form-control select2" data-toggle="select2">
                                                </select>
                                            </div>
                                            <div v-show="pwd_input_show" class="form-group mb-3">
                                                <p class="mb-1 mt-3 font-weight-bold text-muted">设置访问密码</p>
                                                <input v-model="opt.password" type="text" class="form-control" placeholder="设置一个访问密码">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div id="preview">
                            
                        </div>
                        <div id="outline"></div>
                    </div>
                    
                    <!-- 保存 -->
                    <div class="inis-save">
                        <button v-on:click="btnSave(edit.id,true)" class="btn btn-icon btn-primary">
                            <svg t="1603529849300" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4317" width="20" height="20">
                                <path d="M0 1024V0h160v320h512V0h96l256 256v768H0z m864-512H160v320h704V512z" fill="#fafbfe" p-id="4318" data-spm-anchor-id="a313x.7781069.0.i11" class="selected"></path>
                                <path d="M416 0h160v256h-160z" fill="#fafbfe" p-id="4319" data-spm-anchor-id="a313x.7781069.0.i12" class="selected"></path>
                            </svg>
                        </button>
                    </div>
                    
                    
                    <!-- 拓展编辑器 - 人性化语法 - 开始 -->
                    <!-- 插入彩色文字 -->
                    <div id="insert_color_text" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入彩色文字</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">选择颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_color_text.title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-muted'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-white'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-white fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_color_text',{class:'text-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>文字内容</label>
                                        <textarea class="form-control domain-textarea" rows="5" v-model="insert_color_text.text" v-on:keyup.enter="insertTag('insert_color_text')" placeholder="内容"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_color_text')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 插入带背景颜色的文字 -->
                    <div id="insert_bg_color_text" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入彩色文字</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">选择颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_bg_color_text.title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-secondary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-light'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-light fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_bg_color_text',{class:'badge-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="badge-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">背景</label>
                                        <div class="col-9">
                                            <select id="insert_bg_color_text-mode-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">圆角</label>
                                        <div class="col-9">
                                            <select id="insert_round_color_text-mode-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>文字内容</label>
                                        <textarea class="form-control domain-textarea" rows="5" v-model="insert_bg_color_text.text" v-on:keyup.enter="insertTag('insert_bg_color_text')" placeholder="内容"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_bg_color_text')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 插入高亮引用 -->
                    <div id="insert_highlight" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入高亮引用</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">字体颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_highlight.text_color_title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-muted'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-white'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-white fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{text_color:'text-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">背景颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_highlight.bg_color_title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-secondary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-secondary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-secondary fill-bg mr-2"></span>
                                                            淡灰
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-light'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-light fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-light'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-light fill-bg mr-2"></span>
                                                            深白
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-white'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-white fill-bg mr-2"></span>
                                                            纯白
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-dark fill-bg mr-2"></span>
                                                            淡黑
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-danger fill-bg mr-2"></span>
                                                            淡红
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-warning fill-bg mr-2"></span>
                                                            淡黄
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-info fill-bg mr-2"></span>
                                                            淡蓝
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-success fill-bg mr-2"></span>
                                                            淡色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'bg-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_highlight',{bg_color:'alert-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="alert-primary fill-bg mr-2"></span>
                                                            淡紫
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>文字内容</label>
                                        <textarea class="form-control domain-textarea" rows="5" v-model="insert_highlight.text" v-on:keyup.enter="insertTag('insert_highlight')" placeholder="内容"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_highlight')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 插入按钮 -->
                    <div id="insert_btn" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入按钮</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">选择颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_btn.color_title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'secondary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'light'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-light fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_btn',{class:'danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="btn-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">按钮类型</label>
                                        <div class="col-9">
                                            <select id="insert_outline_btn-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">圆角</label>
                                        <div class="col-9">
                                            <select id="insert_round_btn-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>跳转地址</label>
                                        <input v-model="insert_btn.url" type="text" class="form-control" placeholder="选填：如需跳转，请填写网址">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>文字内容</label>
                                        <textarea v-model="insert_btn.text" v-on:keyup.enter="insertTag('insert_btn')" class="form-control domain-textarea" rows="5" placeholder="内容"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_btn')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 插入收缩框 -->
                    <div id="insert_collapse" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入收缩框</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">展开</label>
                                        <div class="col-9">
                                            <select id="insert_collapse_active-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>标题</label>
                                        <input v-model="insert_collapse.text" v-on:keyup.enter="insertTag('insert_collapse')" type="text" class="form-control" placeholder="收缩框标题">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_collapse')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 插入tab -->
                    <div id="insert_tabs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fill-primary-modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content modal-filled bg-primary">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="fill-primary-modalLabel">插入tab</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">小标题颜色</label>
                                        <div class="col-9">
                                            <div class="btn-group">
                                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        {{insert_tabs.text_color_title || ''}}
                                                        <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-muted'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-secondary fill-bg mr-2"></span>
                                                            灰色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-dark'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-dark fill-bg mr-2"></span>
                                                            黑色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-white'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-white fill-bg mr-2"></span>
                                                            白色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-primary'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-primary fill-bg mr-2"></span>
                                                            紫色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-success'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-success fill-bg mr-2"></span>
                                                            绿色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-info'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-info fill-bg mr-2"></span>
                                                            蓝色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-warning'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-warning fill-bg mr-2"></span>
                                                            黄色
                                                        </a>
                                                        <a v-on:click="set_insert_data('insert_tabs',{text_color:'text-danger'})" class="dropdown-item flex-center" href="javascript:;">
                                                            <span class="bg-danger fill-bg mr-2"></span>
                                                            红色
                                                        </a>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">类型</label>
                                        <div class="col-9">
                                            <select id="insert_tabs_mode-select2" class="form-control select2" data-toggle="select2"></select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>大标题</label>
                                        <input v-model="insert_tabs.title" v-on:keyup.enter="insertTag('insert_tabs')" type="text" class="form-control" placeholder="选填">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label>小标题</label>
                                        <input v-model="insert_tabs.item_title" v-on:keyup.enter="insertTag('insert_tabs')" type="text" class="form-control" placeholder="必填">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">取消</button>
                                    <button v-on:click="insertTag('insert_tabs')" type="button" class="btn btn-outline-light" data-dismiss="modal">确认</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 拓展编辑器 - 人性化语法 - 结束 -->
                    
                    
                </div>
                <!-- 内容 - 结束 -->
            </div>
            <!-- 页脚 - 开始 -->
            <i-footer></i-footer>
            <!-- 页脚 - 结束 -->
        </div>
        
        <!-- 右侧边栏 - 开始 -->
        <i-right-side></i-right-side>
        <!-- 右侧边栏 - 结束 -->
    </div>
    
    <script src="<?= __ADMIN_JS__.'vue/write-article.js'; ?>"></script>
    
    <!-- 依赖 - 开始 -->
    <? require(dirname(dirname(__FILE__)).'/public/script.html'); ?>
    <!-- 依赖 - 结束 -->
    
    <!-- APP JS - 开始 -->
    <!-- APP JS - 结束 -->
    
    <!-- footer - 开始 -->
    <? require(dirname(dirname(__FILE__)).'/public/footer.html'); ?>
    <!-- footer - 结束 -->